name: Generate Snake

on:
  # 每天午夜自動執行
  schedule:
    - cron: "0 0 * * *" 
  # 允許手動觸發 (在 Actions 頁面按按鈕)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          # 你的 GitHub 帳號
          github_user_name: a19901201
          # 生成圖片的輸出路徑
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
